In [1]:
#Import Libraries
import pandas as pd
from pathlib import Path

In [2]:
#Import CSV with all data
data_path = Path("historical_data.csv")
historical_data = pd.read_csv(data_path)
historical_data.rename( columns = {"Unnamed: 0":"date"}, inplace = True)
historical_data.head()

,date,XLY,XLP,XLE,XLF,XLV,XLI,XLB,XLK,XLU,10 YR
0,2008-01-02,32.13,28.34,79.75,28.41,34.94,38.37,41.33,26.10,41.98,3.91
1,2008-01-03,31.78,28.22,80.21,28.20,35.18,38.58,41.80,26.08,42.08,3.91
2,2008-01-04,30.78,28.04,78.01,27.39,34.83,37.60,40.74,25.07,42.30,3.88
3,2008-01-07,30.93,28.55,77.04,27.55,35.57,37.34,40.25,24.97,43.25,3.86
4,2008-01-08,30.32,28.38,76.08,26.54,35.81,36.39,39.60,24.21,43.33,3.86

In [3]:
# Define a function that returns the indexes where the 10 yr treasury momentum crossed a certain threshold
def spike_selector(df):
    signal1 = 0
    daycount1 = 0
    indexes = []
    df["mmt10"] = (df["10 YR"] - df["10 YR"].shift(10))
    df["roll_10"] = df["mmt10"].rolling(20).mean()
    no_idx = df.reset_index()
    for index, row in zip(no_idx.index, no_idx["roll_10"]):
        if signal1 == 1:
            daycount1 += 1
            if daycount1 > 90:
                signal1 = 0
                daycount1 = 0
        if row >= 0.187 and signal1 == 0:
            #print (signal1, daycount1)
            indexes.append(index)
            signal1 = 1
    df.drop(columns = ["mmt10", "roll_10"], inplace = True)
    return indexes

In [4]:
#Create empty dictionary to store new dataframes.  Then slice 90 days following each treaury yeild increase selected by the above function
yield_spikes_dict = {}
for index in spike_selector(historical_data):
    yield_spikes_dict[index] = pd.DataFrame
for index in spike_selector(historical_data):
    start = index
    end = start + 90
    yield_spikes_dict[index] = historical_data.iloc[start: end]

In [5]:
print(spike_selector(historical_data))

[269, 360, 498, 736, 1357, 2221, 3292]

In [ ]:
#For loop to update keys - DOES NOT WORK
count = 1
for spike in yield_spikes_dict:
    yield_spikes_dict["spike_" + str(count)] = yield_spikes_dict.pop(spike)
    count +=1

In [6]:
#Updating keys manually
yield_spikes_dict["spike_1"] = yield_spikes_dict.pop(269)
yield_spikes_dict["spike_2"] = yield_spikes_dict.pop(360)
yield_spikes_dict["spike_3"] = yield_spikes_dict.pop(498)
yield_spikes_dict["spike_4"] = yield_spikes_dict.pop(736)
yield_spikes_dict["spike_5"] = yield_spikes_dict.pop(1357)
yield_spikes_dict["spike_6"] = yield_spikes_dict.pop(2221)
yield_spikes_dict["spike_7"] = yield_spikes_dict.pop(3292)

In [7]:
yield_spikes_dict["spike_3"]

,date,XLY,XLP,XLE,XLF,XLV,XLI,XLB,XLK,XLU,10 YR
498,2009-12-29,30.2100,26.7800,57.5000,14.43,31.560,23.53,33.41,23.0400,31.4900,3.82
499,2009-12-30,30.0900,26.7500,57.4300,14.44,31.510,23.42,33.47,23.1300,31.5000,3.80
500,2009-12-31,29.8100,26.4400,56.9700,14.39,31.140,23.13,33.04,22.8900,31.0300,3.85
501,2010-01-04,30.0000,26.7200,58.7800,14.69,31.600,23.57,33.98,23.2400,31.1000,3.85
502,2010-01-05,30.1200,26.6900,59.3600,14.94,31.410,23.65,34.14,23.2400,30.7400,3.77
503,2010-01-06,30.1300,26.6600,60.0200,14.99,31.570,23.70,34.64,22.9900,30.9000,3.85
504,2010-01-07,30.3900,26.6600,59.9000,15.31,31.700,23.96,34.49,22.8900,30.7500,3.85
505,2010-01-08,30.3800,26.5500,60.3100,15.22,31.780,24.34,34.87,23.0400,30.7100,3.83
506,2010-01-11,30.3400,26.6491,60.2000,15.23,31.920,24.61,34.78,22.9600,31.0600,3.85
507,2010-01-12,29.9600,26.7700,59.3000,15.00,31.730,24.41,34.11,22.7000,30.9200,3.74
508,2010-01-13,30.2600,26.9600,59.6400,15.17,32.160,24.51,34.46,22.9000,31.2100,3.80
509,2010-01-14,30.2700,26.9400,59.7500,15.26,32.430,24.51,34.10,22.9800,31.1200,3.76
510,2010-01-15,30.0100,26.7500,59.2200,14.94,32.250,24.19,33.76,22.6800,30.9100,3.70
511,2010-01-19,30.3500,26.9400,59.8500,15.12,32.940,24.46,34.29,23.0300,31.2600,3.73
512,2010-01-20,29.9700,26.7400,58.8600,15.10,32.740,24.08,33.78,22.6800,30.9400,3.68
513,2010-01-21,29.6000,26.3400,57.6300,14.67,32.010,23.53,32.30,22.4700,30.4900,3.62
514,2010-01-22,29.0500,26.2700,56.2200,14.19,31.640,23.17,31.58,21.6700,29.8500,3.62
515,2010-01-25,29.1500,26.3200,56.6500,14.25,31.650,23.32,31.84,21.8400,30.0100,3.66
516,2010-01-26,29.1800,26.3400,56.3500,14.02,31.490,23.22,31.47,21.8100,30.1300,3.65
517,2010-01-27,29.3000,26.3600,56.0400,14.34,31.700,23.28,31.23,21.9300,29.9700,3.66
518,2010-01-28,29.0900,26.3000,55.4600,14.29,31.470,23.02,30.65,21.3500,29.7000,3.68
519,2010-01-29,28.9200,26.2100,54.5200,14.19,31.300,22.78,30.18,20.9500,29.5100,3.63
520,2010-02-01,29.2600,26.4300,56.2400,14.41,31.440,23.13,31.31,21.2400,29.7100,3.68
521,2010-02-02,29.6600,26.7900,57.0600,14.56,32.050,23.57,31.43,21.4100,29.9600,3.67
522,2010-02-03,29.7100,26.6200,56.6000,14.39,31.700,23.43,31.10,21.4600,29.7600,3.73
523,2010-02-04,28.8600,26.0000,54.2700,13.78,30.880,22.73,29.90,20.8700,28.9900,3.62
524,2010-02-05,28.7300,26.0100,54.2300,13.96,30.820,22.63,30.44,21.0700,28.8900,3.59
525,2010-02-08,28.6200,25.9400,53.7500,13.64,30.700,22.39,29.97,20.9700,28.5800,3.62
526,2010-02-09,29.0500,26.2800,54.9000,13.80,30.890,22.82,30.72,21.1700,28.8500,3.67
527,2010-02-10,28.8800,26.2200,54.6400,13.92,30.730,22.78,30.53,21.1000,28.7600,3.72
...,...,...,...,...,...,...,...,...,...,...,...
558,2010-03-26,33.0800,27.9100,56.0900,16.00,31.910,25.98,33.70,23.0400,29.4300,3.86
559,2010-03-29,33.0800,28.0700,57.2000,16.03,32.210,26.21,34.01,23.0900,29.8000,3.88
560,2010-03-30,33.0900,28.1000,57.2500,15.93,32.242,26.25,34.09,23.1800,29.7600,3.88
561,2010-03-31,32.8400,27.9600,57.5300,15.95,32.140,26.10,33.91,23.0402,29.6600,3.84
562,2010-04-01,33.0700,28.1000,58.5400,16.10,32.300,26.27,34.50,23.0700,30.0500,3.89
563,2010-04-05,33.4700,28.1100,59.5900,16.26,32.220,26.46,34.91,23.3200,30.2200,4.01
564,2010-04-06,33.5100,28.0200,59.5900,16.42,32.160,26.47,34.99,23.3400,30.4900,3.98
565,2010-04-07,33.3500,27.8900,58.9800,16.34,32.030,26.32,34.75,23.2600,30.2200,3.89
566,2010-04-08,33.6900,27.8900,59.2600,16.48,31.960,26.40,34.86,23.2900,30.0300,3.91
567,2010-04-09,33.9800,28.0500,59.8500,16.54,32.090,26.55,34.94,23.4900,30.2107,3.90
568,2010-04-12,33.9800,28.0800,60.0400,16.61,32.030,26.61,34.79,23.5500,30.3100,3.87
569,2010-04-13,34.1900,28.0600,59.7400,16.63,32.050,26.65,34.68,23.6100,30.2000,3.84
570,2010-04-14,34.6700,28.0700,60.3300,17.06,31.900,27.00,34.92,23.9300,30.2000,3.88
571,2010-04-15,34.8300,28.0300,60.3500,16.98,31.830,27.25,34.92,24.0500,30.1600,3.86
572,2010-04-16,34.3500,27.9300,59.3200,16.35,31.650,26.81,34.31,23.7200,29.8300,3.79
573,2010-04-19,34.4400,28.0100,59.3500,16.52,31.890,26.76,34.36,23.8000,29.8900,3.83
574,2010-04-20,34.8300,28.1000,60.5800,16.74,31.980,27.07,34.45,23.9000,30.2400,3.82
575,2010-04-21,35.0000,28.1000,60.4700,16.64,31.400,27.25,34.38,23.9600,30.2600,3.77
576,2010-04-22,35.6000,28.0800,60.5700,16.74,31.010,27.50,34.68,24.0000,30.3700,3.80
577,2010-04-23,35.7300,28.0400,62.0500,16.78,31.340,27.67,35.13,24.0800,30.6300,3.84
578,2010-04-26,35.9600,27.9700,61.8700,16.51,31.000,27.73,35.15,24.0400,30.5100,3.83
579,2010-04-27,34.9176,27.4900,60.0000,15.96,30.670,27.06,33.97,23.5800,29.9700,3.71
580,2010-04-28,34.8200,27.6900,60.6000,16.17,30.880,27.25,34.30,23.6600,30.2700,3.80
581,2010-04-29,35.5500,27.7900,60.6800,16.56,31.280,27.87,34.57,23.8800,30.3100,3.76
582,2010-04-30,34.8200,27.6200,59.9200,16.15,30.900,27.21,34.00,23.4000,30.4400,3.69
583,2010-05-03,35.5400,27.7800,60.5800,16.46,31.060,27.76,34.01,23.7100,30.8500,3.72
584,2010-05-04,34.4800,27.5100,58.9600,16.02,30.840,26.88,32.78,23.0400,30.2900,3.63
585,2010-05-05,34.0000,27.6000,58.0105,15.94,30.940,26.54,32.56,22.9500,30.0700,3.58
586,2010-05-06,32.7200,26.8800,56.0090,15.25,30.090,25.66,31.47,22.2556,29.2600,3.41
587,2010-05-07,32.1600,26.7400,54.9800,15.10,29.710,25.09,31.09,21.7300,29.0900,3.45